*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container{
	flex: box;
	width: 100%;
	height: 700px;
}

img{
	justify-content: center;
	align-items: center;
	height: 50%;
	display: block;
	margin: 0 auto;
}
.cat_pictures.kat{
	height: 300px;
}
.cat_pictures.backat{
	width: 100%;
	height: 600px;
}

